* {
    box-sizing: border-box;
  }
  
  html, body {
    margin: 0;
    min-height: 100%;
    min-width: 100%;
    padding: 0;
  }
  
  body {
    display: block;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    color: #000000;
    margin: 0;
    background-color: #99996b;
    font-size: 2vh;
  }
  
  .container {
    display: block;
    flex-direction: column;
    align-items: center;
    margin: 12vh 20vh;
    background: #F8F8E8;
    border-radius: 10px;
    box-shadow: 0px 0px 27px 8px rgba(121,121,84,1);
  -webkit-box-shadow: 0px 0px 27px 8px rgba(121,121,84,1);
  -moz-box-shadow: 0px 0px 27px 8px rgba(121,121,84,1);
    min-width: 10vh;
    width: fit-content;
  }
  
  main {
    margin: 20px 150px;
    padding: 10px;
    align-content: center;
    min-height: 100vh;
    min-width: 100vh;
  }
  
  #title {
    font-weight: 700;
    margin: 50px 0 0;
  }
  
  h3, span {
    font-weight: 600;
  }
  
  p {
    margin-top: 0;
  }
  
  figure {
    margin: auto;
  }
  
  figcaption {
    margin: 10px 0;
  }
  
  #image {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-height: 500px;
    object-fit: cover;
  }
  
  #headline {
    margin-top: 70px;
  }
  
  figcaption, ul, blockquote {
    display: inline-block;
    text-align: left;
    max-width: 70%;
  }
  
  li {
    margin-top: 20px;
  }
  
  blockquote {
    font-style: italic;
  }
  